* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0;
}

.calculator {
    width: 320px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.calculator-screen {
    height: 80px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.calculator-display {
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 36px;
    color: white;
    border: none;
    outline: none;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #d4d4d4;
}

.operator {
    background-color: #1e90ff;
    color: white;
    
    .operator:hover {
        background-color: navy;
    }
}

.equal-sign {
    background-color: #f1c40f;
    color: black;
}

.all-clear {
    background-color: red;
    color: white;
}

.zero {
    grid-column: span 2;
}